body {
    background: #e3f5ff;
}
.back-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    left: 30px;
    bottom: 2px;
}
.sendBtn {
    background-color: rgb(135, 170, 170);
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
}
.text-input-container {
    width: 100%;
    padding: 10px;
    background-color: rgb(184, 206, 252);
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
}
.text-input {
    border-radius: 50px;
    width: 80%;
}
.icon-XXsmall {
    border: 5px solid;
    border-color: pink;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: white;
    object-fit: cover;
}
.empty-chat {
    padding: 50px;
    margin: 30px;
    background: rgb(194, 233, 255);
    display: flex;
    justify-content: center;
    text-align: center;
}
.text-input:focus {
    outline: none;
}
.message-time {
    font-size: 6px;
    color: #555555;
    text-align: right;
}
.block-time-receive {
    display: block;
    width: 30vw;
}
.block-time-send {
    display: block;
}
